body {
  background-color: #FAFAFA;
}

h1 {
  margin: 30px;
  text-align: center;
}

.section {
  display: block;
  float: left;
  margin: 30px 20px;
  padding: 10px;
  width: 400px;
  border: 1px solid #DDD;
  border-radius: 5px;
  background-color: #F0F0F4;
}

.section h2 {
  text-align: center;
}

.story {
  display: block;
  position: relative;
  margin: 10px 0;
  padding: 4px;
  padding-right: 45px;
  height: 40px;
  border: 1px solid #BBB;
  border-radius: 8px;
  min-height: 40px;
  background-color: #FFF;

  box-shadow: 0 1px 8px #CCC;

  background-image: linear-gradient(top, #FFFFFF 10%, #F3F3F3 70%);
  background-image: -o-linear-gradient(top, #FFFFFF 10%, #F3F3F3 70%);
  background-image: -moz-linear-gradient(top, #FFFFFF 10%, #F3F3F3 70%);
  background-image: -webkit-linear-gradient(top, #FFFFFF 10%, #F3F3F3 70%);
  background-image: -ms-linear-gradient(top, #FFFFFF 10%, #F3F3F3 70%);

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.1, #FFFFFF),
    color-stop(0.7, #F3F3F3)
  );
}

.story p {
  margin: 10px;
}

.story img {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 2px;
  top: 2px;
  border: 1px solid #DDD;
  border-radius: 3px;
}

.story .number {
  font-weight: bold;
}
