<div class="story">
  <p>
    <span class="number">#{{number}}</span>
    <a {{bindAttr href="html_url"}}>{{title}}</a>

    {{#if needsReview}}
      <span class="needs-review">Needs Review</span>
    {{/if}}
  </p>

  {{#if assignee}}
    {{view App.AvatarView userBinding="assignee"}}
  {{/if}}
</div>
